.community {
  background-color: var(--neutral-white);
}

.community-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.community h1 {
  color: var(--neutral-d-grey);
  font-size: 50px;
}

.community p {
  color: var(--neutral-grey);
  font-size: 16px;
}

.community .card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.community .card {
  width: 30%;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px var(--neutral-l-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}

.community .card:hover {
  box-shadow: 0 10px 15px var(--neutral-l-grey);
}

.community .card img {
  width: 51px;
  height: 48px;
}

.community .card .title {
  color: var(--neutral-d-grey);
}

/* responsive */

@media (max-width: 768px) {
  .community-content {
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  .community h1 {
    color: var(--neutral-d-grey);
    font-size: 35px;
    line-height: 40px;
  }

  .community .card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .community .card {
    width: 70%;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px var(--neutral-l-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
  }

  .community .card img {
    width: 51px;
    height: 48px;
  }
}

@media (max-width: 500px){
   .community h1 {
    color: var(--neutral-d-grey);
    font-size: 25px;
    line-height: 35px;
  }

  .community .card {
    width: 100%;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px var(--neutral-l-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
  }
  
  .community .card .title{
    font-size: 18px;
  }

  .community .card p{
    font-size: 12px;
  }
}