.navbar {
  background-color: var(--neutral-white);
  position: relative;
  z-index: 201;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.logo {
  width: 150px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  text-decoration: 0;
  color: var(--neutral-d-gray);
  font-size: 16px;
  transition: 0.5s;
}

.link:hover {
  transform: scale(1.1);
}

.lang-switcher {
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}

.lang-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--neutral-silver);
}

.lang-dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  background: var(--neutral-white);
  border-radius: 10px;
  padding: 10px;
  width: 140px;
  z-index: 100;
  box-shadow: 0 0 10px var(--neutral-grey);
}

.lang-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.lang-item span {
  color: var(--neutral-d-grey);
  font-size: 12px;
}

.lang-item:hover {
  transform: scale(1.1);
}

.lang-btn img {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50%;
}

.lang-item img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* Tablet */
.check-input {
  display: none;
}

@media (max-width: 768px) {
  
  .menu {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 0;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s ease;
    background-color: white;
    z-index: 200;
    box-shadow: 0 5px 3px #a4a3a3;
  }

  .menu a:hover {
    font-size: 20px;
  }

  .menu a:nth-child(1) {
    margin-top: 25px;
  }

  label {
    width: 45px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }

  label div {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 20px;
    transition: 0.4s;
  }

  label div:nth-child(1) {
    top: 0;
  }

  label div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  label div:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }

  input:checked + header .menu {
    height: 70vh;
  }

  input:checked + header label div:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  input:checked + header label div:nth-child(2) {
    transform: scale(0);
  }

  input:checked + header label div:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  .logo {
    width: 120px;
  }

  .lang-dropdown {
    position: absolute;
    left: 70px;
    top: -55px;
  }
}

@media (max-width: 500px) {

  .navbar-content{
    height: auto;
    padding: 10px 0;
  }

  .menu {
    top: 65px;
  }

  .logo {
    width: 100px;
  }

  label {
    width: 25px;
    height: 15px;
    position: relative;
    cursor: pointer;
  }

  label div {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 20px;
    transition: 0.4s;
  }
}
