.register {
  background-color: var(--neutral-silver);
}

.register-content {
  padding: 100px 0;
  text-align: center;
}

.register h1 {
  font-size: 65px;
  line-height: 80px;
  color: var(--neutral-black);
  margin-bottom: 40px;
}

/* modal */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(62, 62, 62, 0.5);
  backdrop-filter: blur(5px);
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  padding: 10px 17px;
  color: white;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.modal h1 {
  font-size: 35px;
  color: var(--neutral-d-grey);
  margin-bottom: 20px;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.modal form input {
  width: 90%;
  background-color: var(--neutral-silver);
  color: var(--neutral-d-grey);
}

.modal form input:focus {
  outline: 2px solid var(--primary);
  background-color: var(--neutral-white);
}

.modal ::placeholder {
  color: var(--neutral-d-grey);
}

.modal form button {
  width: 90%;
  margin: 20px 0;
}

.hidden {
  display: none;
}

/* responsive */

@media (max-width: 768px) {
  .register-content {
    padding: 100px 0;
    text-align: center;
  }

  .register h1 {
    font-size: 40px;
    line-height: 45px;
    color: var(--neutral-black);
    margin-bottom: 40px;
  }
}


@media (max-width: 768px) {
  .register-content {
    padding: 50px 0;
    text-align: center;
  }

  .register h1 {
    font-size: 20px;
    line-height: 25px;
    color: var(--neutral-black);
    margin-bottom: 40px;
  }
}
